<!-- Footer -->
<footer class="page-footer font-small unique-color mt-5 footer">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center pt-2">
            <li class="list-inline-item">
                <h6 class="">Register for free!</h6>
            </li>
            <li class="list-inline-item">
                <a href="/users/register" class="btn btn-outline-white btn-sm">Sign up!</a>
            </li>
        </ul>
        <!-- Call to action -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-2">© 2020 Copyright:
        <a href="http://houseofdev.co.uk/"> House of Dev All-Rights Reserved </a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->