<div class="container">

    <section>

        <div class="card">
            <div class="card-header white">
                <p class="h5-responsive font-weight-bold mb-0"><i class="fas fa-user-circle pr-2"></i>
                    My Profile</p>
            </div>
            <div class="card-body">
                <div class="media">
                    <div class="d-block">
                        <img class="avatar rounded-circle card-img-64 z-depth-1 d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg"
                            alt="Generic placeholder image">

                        <a class="d-block small text-muted float-left mt-2"><i class="far fa-edit"></i>Edit</a>
                    </div>



                    <div class="media-body ml-3">

                        <h6 class="mt-2">
                            <label for="name"> <strong>Name:</strong> JOHN DOE</label>
                            <span class="small text-muted float-right pr-2"><i class="far fa-edit pr-1"></i>Edit</span>

                        </h6>

                        <p class="mt-3">
                            <label for="about"> </label>

                            I would like to meet you to discuss the latest news about the
                            arrival of the new theme. They say it is going to be one the best themes on the market.

                        </p>

                        <h6 class="mt-4"><strong>Email:</strong> john_doe@gmail.com</h6>

                        <h6 class="mt-4"><strong>Phone:</strong> 0304034033</h6>

                        <h6 class="mt-4"><strong>Total Events:</strong> 12 </h6>

                        <h6 class="mt-4"><strong>Social Network:</strong>
                            <br> Instagram : <a>hltoktay </a>
                            <br> Facebook : <a> H. Oktay Kara </a>
                            <br> Twitter : <a> hltoktayKara </a>
                        </h6>


                        <div class="media mt-5">
                            <div class="media-body grey lighten-2 p-3 rounded">
                                <h6 class="mt-0 font-weight-bold">Useful Attachements</h6>
                                <small class="font-italic">Theme-thumbnail-image.jpg</small>
                                <div class="text-right">
                                    <button class="btn btn-primary btn-sm mb-0 mr-0">Upload</button>
                                    <button class="btn btn-primary btn-sm mb-0 mr-0">Open</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="card-footer white py-3">
                <div class="form-group mb-0">

                    <div class="text-right pt-2">
                        <button class="btn btn-danger btn-sm mb-0 mr-0">Edit</button>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Section: Block Content -->

</div>


<div class="footer_profile">

</div>