<div class="container">

    <form>

        <div class="card">
            <div class="card-header white">
                <p class="h5-responsive font-weight-bold mb-0"><i class="fas fa-user-circle pr-2"></i>Edit Your Profile</p>
            </div>
            <div class="card-body">
                <div class="media">
                    <div class="d-block">
                        <img class="avatar rounded-circle card-img-64 z-depth-1 d-flex mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg"
                            alt="Generic placeholder image">

                        <a class="d-block small text-muted float-left mt-2"><i class="far fa-edit"></i>Edit</a>
                    </div>



                    <div class="media-body ml-3">

                        <h6 class="mt-2">
                            <label for="name"> <strong>Name:</strong></label>
                            <input type="text" class="form-control col-6" name="profile_name" id="profile_name">

                            {{!-- <span class="small text-muted float-right pr-2"><i class="far fa-edit pr-1"></i>Edit</span>
                            --}}

                        </h6>

                        <p class="mt-3">
                            <label for="about"> <strong>About Me:</strong> </label>
                            <textarea type="text" class="form-control col-8" name="about" id="about"></textarea>

                        </p>

                        <h6 class="mt-4">
                            <label for="email"> <strong>Email:</strong> </label>
                            <input type="text" class="form-control col-6" name="profile_email" id="profile_email">

                        </h6>

                        <h6 class="mt-4">
                            <label for="phone"> <strong>Phone:</strong> </label>
                            <input type="text" class="form-control col-3" name="profile_phone" id="profile_phone">
                        </h6>

                        <h6 class="mt-4"><strong>Total Events:</strong> 12 </h6>

                        <h6 class="mt-4 mb-3"><strong>Social Network Links:</strong>

                            <br>
                            <label for="instagram" class="d-inline mb-2"> Instagram : </label>
                            <input type="text" class="form-control col-6 d-inline mb-2 mt-2" name="instagram" id="instagram">

                            <br>
                            <label for="facebook" class="d-inline mb-2"> Facebook : </label>
                            <input type="text" class="form-control col-6 d-inline mb-2" name="facebook" id="facebook">

                            <br>
                            <label for="twitter" class="d-inline mb-2"> Twitter : </label>
                            <input type="text" class="form-control col-6 d-inline mb-2" name="twitter" id="twitter">
                        </h6>



                        <div class="media mt-5">
                            <div class="media-body grey lighten-2 p-3 rounded">
                                <h6 class="mt-0 font-weight-bold">Useful Attachements</h6>
                                <small class="font-italic">Theme-thumbnail-image.jpg</small>
                                <div class="text-right">
                                    <button class="btn btn-primary btn-sm mb-0 mr-0">Upload</button>
                                    <button class="btn btn-primary btn-sm mb-0 mr-0">Open</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="card-footer white py-3">
                <div class="form-group mb-0">

                    <div class="text-right pt-2">
                        <button class="btn btn-warning btn-sm mb-0 mr-0">View</button>
                        <button class="btn btn-green btn-sm mb-0 mr-0">Update</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <!-- Section: Block Content -->



</div>

<div class="footer_profile">

</div>