{{!-- <div class="container mt-2 px-2 pt-2 pb-3 z-depth-1"> --}}


    <!--Section: Content-->
    <section class="text-center dark-grey-text mt-5 text-monospace">

        <!-- Section heading -->
        <h2 class="font-weight-bold">More Than You Think.</h2>
        <hr class="w-header my-4">
        <!-- Section description -->
        <p class="text-muted mx-auto mb-5">Finding new friends isn’t always easy and comfortable. Sometimes, as much as
            you want to have friendships, you’d just rather curl up with a book than attend some social gathering or
            meet-up with a group of strangers. Especially for introverts, it takes a lot of emotional energy to put
            yourself out there.But you can’t belly up and remain a hermit forever</p>

        <div class="row text-center d-flex justify-content-center">
            <div class="col-lg-4 col-md-12 mb-2">
                <div class="view card-img-100 mx-auto mb-2">
                    <img src="https://mdbootstrap.com/img/illustrations/drawkit-drawing-man-colour.svg" class="img-fluid"
                        alt="smaple image">
                </div>
                <h5 class="font-weight-normal mb-2">Be the first</h5>
                <p class="text-muted px-2 mb-lg-0">
                    You can be the first on your field and grow up together with local volunteer professinal. Best way
                    to step up your career involce one our meetup as qucikly as possible.

                </p>
            </div>
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="view card-img-100 mx-auto mb-2">
                    <img src="https://mdbootstrap.com/img/illustrations/drawkit-phone-conversation-colour.svg" class="img-fluid"
                        alt="smaple image">
                </div>
                <h5 class="font-weight-normal mb-2">Talk to your neighbors.</h5>
                <p class="text-muted px-2 mb-lg-0">
                    Sometimes the people we’re looking for are in our own back yards. Have you reached out to your
                    neighbors lately? Easy to find them with local network.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mb-2">
                <div class="view card-img-100 mx-auto mb-3">
                    <img src="https://mdbootstrap.com/img/illustrations/app-user-colour.svg" class="img-fluid" alt="smaple image">
                </div>
                <h5 class="font-weight-normal mb-4">Find a business association</h5>
                <p class="text-muted px-2 mb-md-0">
                    Are you looking groups or associations related to your career? Local business events
                    and attend
                    them so you can network professionally and personally.
                </p>
            </div>
        </div>

    </section>
    <!--Section: Content-->

    <div class="container my-5 py-5 ">


        <!--Section: Content-->



        <div class="row mx-3">
            <div class="col-md-4 px-4 mb-4">

                <div class="view">
                    <img src="https://mdbootstrap.com/img/illustrations/drawkit-drawing-man-colour.svg" class="img-fluid"
                        alt="smaple image">
                </div>

            </div>
            <div class="col-md-4 px-4 mb-4">

                <div class="view">
                    <img src="https://mdbootstrap.com/img/illustrations/drawkit-phone-conversation-colour.svg" class="img-fluid"
                        alt="smaple image">
                </div>

            </div>
            <div class="col-md-4 px-4 mb-4">

                <div class="view">
                    <img src="https://mdbootstrap.com/img/illustrations/app-user-colour.svg" class="img-fluid" alt="smaple image">
                </div>

            </div>
        </div>




    </div>


</div>