<div class="container my-2 p-3">


    <!--Section: Content-->
    <section class="text-center dark-grey-text">

        <!-- Section heading -->
        <h3 class="font-weight-bold pb-2">Choose Membership Type</h3>
        <hr class="w-header my-4">
        <!-- Section description -->
        <p class="text-muted w-responsive mx-auto mb-4">We have to clarify our way to help you.
            In that case we offer several option for our customer. Choose which one is best for you. </p>

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-4 col-md-12 mb-3">

                <!-- Card -->
                <div class="pricing-card">

                    <!-- Content -->
                    <div class="card-body">

                        <h6 class="font-weight-bold text-uppercase mb-2">Personal</h6>

                        <!-- Price -->
                        <p class="display-4 font-weight-normal">$0</p>

                        <ul class="mb-0">
                            <li>
                                <p><strong>3</strong> project</p>
                            </li>
                            <li>
                                <p><strong>3</strong> location</p>
                            </li>
                            <li>
                                <p><strong>20</strong> guest</p>
                            </li>

                        </ul>

                        <a href="/users/register" class="btn btn-outline-primary btn-md btn-rounded btn-block">Get
                            started</a>

                    </div>
                    <!-- Content -->

                </div>
                <!-- Card -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-4">

                <!-- Card -->
                <div class="pricing-card">

                    <!-- Content -->
                    <div class="card-body">

                        <h6 class="font-weight-bold text-uppercase blue-text mb-2">Team</h6>

                        <!-- Price -->
                        <p class="display-4 font-weight-normal">$19</p>

                        <ul class="mb-0">
                            <li>
                                <p><strong>6</strong> projects</p>
                            </li>
                            <li>
                                <p><strong>6</strong> location</p>
                            </li>
                            <li>
                                <p><strong>60</strong> guest</p>
                            </li>

                        </ul>

                        <a class="btn btn-primary btn-md btn-rounded btn-block">Get started</a>

                    </div>
                    <!-- Content -->

                </div>
                <!-- Card -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-4">

                <!-- Card -->
                <div class="pricing-card">

                    <!-- Content -->
                    <div class="card-body">

                        <h6 class="font-weight-bold text-uppercase mb-2">Business</h6>

                        <!-- Price -->
                        <p class="display-4 font-weight-normal">$29</p>

                        <ul class="mb-0">
                            <li>
                                <p><strong>9</strong> projects</p>
                            </li>
                            <li>
                                <p><strong>9</strong> location</p>
                            </li>
                            <li>
                                <p><strong>100</strong> guest</p>
                            </li>

                        </ul>

                        <a class="btn btn-outline-primary btn-md btn-rounded btn-block">Get started</a>

                    </div>
                    <!-- Content -->

                </div>
                <!-- Card -->

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!--Section: Content-->


</div>