.bg-image {
  background-image: url(https://mdbootstrap.com/img/Photos/Others/images/91.jpg);
  background-size: cover;
  background-position: center center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
