.bg-image {
  background-image: url(https://images.pexels.com/photos/862848/pexels-photo-862848.jpeg?cs=srgb&dl=silhouette-of-four-people-against-sun-background-862848.jpg&fm=jpg);
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.footer_find {
  position: relative;
  bottom: 0;
}

.footer_profile {
  position: relative;
  height: 67vh;
  bottom: 0;
}

.footer_empty {
  position: relative;
  height: 37vh;
  bottom: 0;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 70%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.stopfade {
  opacity: 0.5;
}
