<div class="container  px-0 z-depth-1">

    <!--Section: Content-->
    <section class="p-3 my-md-3 text-center bg-image">

        <form class="my-3 mx-md-3" action="/users/login" method="post" netlify>

            <div class="row">
                <div class="col-md-6 mx-auto">
                    <!-- Material form login -->
                    <div class="card">

                        <!--Card content-->
                        <div class="card-body">

                            <!-- Form -->
                            <form method="post" action="/users/login">

                                <h3 class="font-weight-bold my-4 pb-2 text-center dark-grey-text">Log In</h3>

                                <!-- Email -->
                                <div class="md-form mb-4 text-left">
                                    <i class="fas fa-envelope prefix grey-text"></i>
                                    <input type="email" name="email" class="form-control validate">
                                    <label data-error="wrong" data-success="right" for="email">Your email</label>
                                </div>

                                <!-- Password -->
                                <div class="md-form mb-4 text-left">
                                    <i class="fas fa-lock prefix grey-text"></i>
                                    <input type="password" name="password" class="form-control validate">
                                    <label data-error="wrong" data-success="right" for="password">Your password</label>
                                </div>
                                <small id="passwordHelpBlock" class="form-text text-right blue-text">
                                    <a href="">Recover Password</a>
                                </small>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-outline-primary btn-rounded my-4 waves-effect">Submit</button>
                                </div>


                                <!-- Form -->

                        </div>
        </form>

</div>
<!-- Material form login -->
</div>
</div>



</section>
<!--Section: Content-->


</div>